# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Build Artifacts
# ==========================
build/
dist/
*.egg-info/
*.whl

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ==========================
# Type Checking
# ==========================
.mypy_cache/

# ==========================
# Ruff
# ==========================
.ruff_cache/

# ==========================
# IDE
# ==========================
.vscode/*
!.vscode/settings.json

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
